@include big-1870 {
  .site-header {
    .container {
      .site-header-top {
        margin-right: 30px;
        margin-left: 30px;
      }
      .site-header-bottom {
        margin-right: 30px;
        margin-left: 30px;
      }
    }
  }
}

@include lg-1199 {
  .hero {
    height: 600px;
    .hero-slider {
      .hero-slider-img {
        height: 600px;
      }
    }
  }
}

@include md-991 {
  .main-title {
    font-size: 65px;
  }
  .fixed-class {
    overflow: hidden;
  }
  .site-header {
    .container {
      .site-header-bottom {
        flex-direction: row-reverse;
        .hamburger {
          width: 30px;
          height: 30px;
          position: relative;
          transition: .1s;
          cursor: pointer;
          display: inline-block;
          span {
            width: 5px;
            height: 5px;
            background-color: #fff;
            display: block;
            border-radius: 50%;
            position: absolute;
          }
        }
        .hamburger:hover span{
          transform: scale(1.2);
          transition: 350ms cubic-bezier(.8, .5, .2, 1.4);
        }
        .hamburger span:nth-child(1){
          left: 0;
          top: 0;
        }
        .hamburger span:nth-child(2){
          left: 12px;
          top: 0;
        }
        .hamburger span:nth-child(3){
          right: 0;
          top: 0;
        }
        .hamburger span:nth-child(4){
          left: 0;
          top: 12px;
        }
        .hamburger span:nth-child(5){
          position: absolute;
          left: 12px;
          top: 12px;
        }
        .hamburger span:nth-child(6){
          right: 0px;
          top: 12px;
        }
        .hamburger span:nth-child(7){
          left: 0px;
          bottom: 0px;
        }
        .hamburger span:nth-child(8){
          position: absolute;
          left: 12px;
          bottom: 0px;
        }
        .hamburger span:nth-child(9){
          right: 0px;
          bottom: 0px;
        }
        .hamburger.open{
          transform: rotate(180deg);
          cursor: pointer;
          transition: .2s cubic-bezier(.8, .5, .2, 1.4);
        }
        .hamburger.open span{
          border-radius: 50%;
          transition-delay: 200ms;
          transition: .5s cubic-bezier(.8, .5, .2, 1.4);
        }
        .hamburger.open span:nth-child(2) {
          left: 6px;
          top: 6px;
        }
        .hamburger.open span:nth-child(4) {
          left: 6px;
          top: 18px;
        }
        .hamburger.open span:nth-child(6) {
          right: 6px;
          top: 6px;
        }
        .hamburger.open span:nth-child(8) {
          left: 18px;
          bottom: 6px;
        }
        .nav {
          position: absolute;
          flex-direction: column;
          left: 0;
          background-color: $secondary-color;
          transition: $transition-ease;
          height: 100vh;
          bottom: 100vh;
          li {
            width: 100vw;
            border-top: 1px solid $third-color;
            margin-right: 0;

            a {
              margin-left: 30px;
              margin-top: 16px;
              margin-bottom: 16px;
            }
          }
          li:last-of-type {
            border-bottom: 1px solid $third-color;
          }
        }
        .nav.active {
          bottom: calc(-100vh - 60px )
        }
        .logo {
          a {
            img {
              height: 30px;
            }
          }
        }
      }
    }
  }
  .active_site-header {
    .container {
      .site-header-bottom {
        .nav.active {
          bottom: -100vh;
        }
      }
    }
  }
  .overlapping-img {
    padding-left: 30px;
    padding-right: 30px;
    .container {
      .overlapping-img-top {
        flex-direction: column;
        .overlapping-img-top-left {
          width: auto;
          padding: 33px;
          .top-paragraph {
            padding: 0;
          }
          p {
            padding: 0;
          }
        }
        .overlapping-img-top-right {
          width: 100%;
          height: 560px;
          img {
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            border-bottom-left-radius: 5px;
            border-bottom-right-radius: 5px;
          }
        }
      }
    }
  }
  .three-col {
    padding-left: 30px;
    padding-right: 30px;
    margin-top: 0;
  }
  .text-over-img {
    padding-left: 30px;
    padding-right: 30px;
  }
  .slider-cards {
    padding-left: 30px;
    padding-right: 30px;
  }
  .slider-testimonials {
    padding-left: 30px;
    padding-right: 30px;
  }
  .four-column {
    .container {
      .four-column-items {
        flex-wrap: wrap;
        .four-column-item {
          width: 50%;
          margin-bottom: 40px;
          .four-column-item-img {
            height: 150px;
          }
        }
      }
    }
  }
  .small-part {
    padding-left: 30px;
    padding-right: 30px;
    .container {
      img {
        height: 103px;
      }
      h3 {
        margin: 0 40px;
      }
    }
  }
  .slider-five-col {
    padding-left: 30px;
    padding-right: 30px;
  }
  .contact {
    padding-left: 30px;
    padding-right: 30px;
  }
  .site-footer {
    padding-left: 30px;
    padding-right: 30px;
    .container {
      .site-footer-bottom {
        flex-direction: column;
        .site-footer-bottom-partial {
          width: auto;
          margin-right: 0;
          margin-bottom: 50px;
          .main-button {
            margin-left: 140px;
          }
        }
        .site-footer-bottom-partial:last-of-type {
          margin-left: 0;
          margin-bottom: 0;
        }
      }
    }
  }
}

@include sm-767 {
  .arrow_prev {
    display: none;
  }
  .arrow_next {
    display: none;
  }
  .main-title {
    font-size: 50px;
  }
  .main-title-p {
    margin-top: 10px;
  }
  .section-title {
    font-size: 35px;
  }
  .site-header {
    height: 65px;
    .container {
      .site-header-top {
        height: 65px;
        flex-direction: column;
        justify-content: center;
        .contact-info {
          font-size: 12px;
          flex-wrap: wrap;
          justify-content: center;
          .last-li {
            width: 100%;
            margin-top: 12px;
            margin-right: 0;
            ul {
              width: 100%;
              justify-content: center;
            }
          }
        }
      }
    }
  }
  .active_site-header {
    background-color: $secondary-color;
    box-shadow: 4px 4px 10px rgba(155, 123, 48, .5);
    height: 60px;
    .container {
      .site-header-top {
        height: 0;
        transition: $transition-ease;
      }
    }
  }
  .hero {
    height: 500px;
    .hero-slider {
      .hero-slider-img {
        height: 500px;
      }
    }
  }
  .overlapping-img {
    .container {
      .overlapping-img-top {
        .overlapping-img-top-left {
          padding: 25px;
        }
      }
    }
  }
  .three-col {
    .container {
      .overlapping-img-bottom {
        .overlapping-img-bottom-items {
          flex-direction: column;
          .overlapping-img-bottom-item {
            width: 100%;
            margin-bottom: 30px;
            margin-right: 0;
            .overlapping-img-bottom-text {
              h3 {
                font-size: 22px;
              }
              p {
                font-size: 14px;
              }
            }
          }
        }
      }
    }
  }
  .text-over-img {
    background-attachment: scroll;
    .container {
      .text-over-img-top {
        flex-direction: column;
        p {
          font-size: 14px;
          width: 100%;
        }
        p:last-of-type {
          margin-top: 20px;
        }
      }
      .text-over-img-bottom {
        .text-over-img-bottom-items {
          flex-direction: column;
          .text-over-img-bottom-item {
            span {
              margin-bottom: 15px;
              font-size: 40px;
            }
            .img-wrapper-lines {
              margin-bottom: 15px;
            }
            p {
              margin-bottom: 15px;
              font-size: 18px;
            }
          }
          .text-over-img-bottom-item:last-of-type {
            p {
              margin-bottom: 70px;
            }
          }
        }
      }
    }
  }
  .slider-cards {
    .slider-cards-items {
      padding-bottom: 50px;
    }
  }
  .slider-testimonials {
    .container {
      .slider-testimonials-items {
        width: auto;
        margin-left: 20px;
        margin-right: 20px;
        .slider-testimonials-item {
          .slider-testimonials-item-text {
            margin-left: 10px;
            margin-right: 10px;
            .quotation-marks {
              font-size: 80px;
              margin-right: 10px;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .four-column {
    .container {
      .four-column-items {
        flex-wrap: wrap;
        .four-column-item {
          width: 100%;
          .four-column-item-img {
            height: 200px;
          }
        }
      }
    }
  }
  .small-part {
    .container {
      flex-direction: column;
      img {
        height: 100%;
        margin-bottom: 5px;
      }
      h3 {
        margin: 0 40px;
        font-weight: 300;
        font-size: 25px;
        margin-bottom: 8px;
      }
      .main-button {
        width: 90%;
        padding: 18px 10px;
        margin-bottom: 10px;
      }
    }
  }
  .contact {
    background-attachment: scroll;
    .container {
      form {
        .proba {
          flex-direction: column;
          .short {
            width: 100%;
          }
          fieldset:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .site-footer {
    .container {
      .site-footer-bottom {
        .site-footer-bottom-partial {
          .site-footer-bottom-partial-text {
            h5 {
              font-size: 18px;
            }
            p {
              font-size: 14px;
            }
          }
          .main-button {
            margin-left: 25px;
          }
        }
      }
      .copyright {
        flex-direction: column;
        p {
          margin-bottom: 16px;
        }
        .three-social-icons {
          margin-bottom: 30px;
        }
      }
    }
  }
}

@include mb-555 {
  .main-title {
    font-size: 32px;
  }
  .main-title-p {
    font-size: 20px;
  }
  .section-title {
    font-size: 29px;
  }
  .section-title::after {
    margin-top: 13px;
  }
  .site-header {
    .container {
      .site-header-top {
        .contact-info {
          .third-li {
            display: none;
          }
          li:nth-of-type(2) {
            margin-right: 0;
          }
        }
      }
    }
  }
  .overlapping-img {
    padding-left: 20px;
    padding-right: 20px;
    .container {
      .overlapping-img-top {
        .overlapping-img-top-left {
          .top-paragraph {
            font-size: 28px;
          }
        }
      }
    }
  }
  .three-col {
    padding-left: 20px;
    padding-right: 20px;
    margin-bottom: 50px;
    .container {
      .overlapping-img-bottom {
        .overlapping-img-bottom-items {
          .overlapping-img-bottom-item {
            .overlapping-img-bottom-text {
              h3 {
                margin-bottom: 2px;
              }
            }
          }
          .overlapping-img-bottom-item:last-of-type {
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .text-over-img {
    padding-left: 20px;
    padding-right: 20px;
    .container {
      .section-title {
        padding-top: 50px;
      }
      .text-over-img-top {
        margin-top: 30px;
        p {
          color: $third-color;
        }
      }
      .text-over-img-bottom {
        margin-top: 50px;
      }
    }
  }
  .slider-cards {
    .section-title {
      margin-top: 50px;
      margin-bottom: 40px;
    }
    .slider-cards-items {
      padding-bottom: 70px;
      .slider-cards-item {
        height: 400px;
        margin-bottom: 210px;
        .img-wrapper {
          position: absolute;
          width: 100%;
          height: 100%;
          display: inline-block;
          overflow: hidden;
          img {
            -webkit-filter: none; /* Safari 6.0 - 9.0 */
            filter: none;
          }
        }
        .slider-cards-item-text {
          text-align: center;
          position: absolute;
          left: 50%;
          transform: translate(-50%, 0);
          bottom: -84px;
          z-index: 1;
          height: 84px;
          background: $fourth-color;
          background-size: 100% 200%;
          width: 100%;
          transition: $transition-ease;
          border-bottom: none;
          overflow: visible;
          p {
            opacity: 1;
            background: $primary-color;
            bottom: auto;
          }
        }
      }
      .slider-cards-item:hover {
        img {
          scale: 1.2;
        }
        .slider-cards-item-text {
          background-position: auto;
          h3 {
            opacity: 1;
            transition: $transition-ease;
          }
          p {
            top: auto;
            transform: translate(0, 0);
            opacity: 1;
          }
        }
      }
    }
  }
  .slider_cards_dots {
    margin-bottom: 30px;
  }
  .slider-testimonials {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 0;
    .container {
      .section-title {
        margin-top: 50px;
        margin-bottom: 60px;
      }
      .slider-testimonials-items {
        .slider-testimonials-item {
          .slider-testimonials-item-text {
            margin-bottom: 140px;
            .quotation-marks {
              display: none;
            }
            p {
              font-size: 16px;
            }
          }
        }
      }
    }
  }
  .four-column {
    margin-top: 0;
    .container {
      .section-title {
        padding-top: 10px;
      }
      .four-column-items {
        .four-column-item {
          .four-column-item-img {
            margin-bottom: 20px;
          }
          .first-span {
            margin-top: 10px;
          }
          ul {
            margin-top: 20px;
            margin-bottom: 0;
          }
        }
      }
    }
  }
  .slider-five-col {
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 30px;
    margin-bottom: 50px;
  }
  .contact {
    padding-left: 20px;
    padding-right: 20px;
    .container {
      padding-bottom: 60px;
      .section-title {
        padding-top: 50px;
        margin-bottom: 40px;
      }
      form {
        button {
          margin-left: auto;
          margin-right: auto;
        }
      }
    }
  }
  .small-part {
    padding-left: 20px;
    padding-right: 20px;
  }
  .site-footer {
    padding-left: 20px;
    padding-right: 20px;
    .container {
      padding-top: 50px;
      .site-footer-top {
        flex-direction: column;
        text-align: center;
        .site-footer-top-partial {
          margin-bottom: 30px;
          h5 {
            font-size: 18px;
            margin-bottom: 30px;
          }
        }
        .site-footer-top-partial:last-of-type {
          margin-bottom: 0;
        }
      }
      .site-footer-bottom {
        margin-top: 40px;
        margin-bottom: 30px;
        .site-footer-bottom-partial {
          flex-direction: column;
          margin-bottom: 20px;
          .site-footer-bottom-partial-text {
            text-align: center;
            h5 {
              font-size: 18px;
            }
            p {
              margin-top: 10px;
              margin-bottom: 15px;
              font-size: 14px;
            }
          }
          .main-button {
            margin-left: 0;
          }
        }
      }
      .copyright {
        text-align: center;
        p {
          line-height: 18px;
          margin-top: 30px;
          margin-bottom: 10px;
        }
        .three-social-icons {
          justify-content: center;
          margin-bottom: 20px;
        }
      }
    }
  }
}

@include xs-350 {

}
